html {
    width: 1050px;
    margin: auto;
    font-family: helvetica;
}

#nav_bar {
    background-color: #565656;
    color: white;
}

    h3 {
        display: inline-block;
        margin-left: 25px;
        margin-right: 650px;
    }

    #nav_bar a {
        background-color: #565656;
        color: white;
        display: inline-block;
        vertical-align: top;
        margin-top: 22px;
    }

li {
    list-style: none;
}

#left_box {
    border: 1px solid black;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 10px;
    width: 200px;
}

    #left_box form{
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #left_box h4{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #left_box ul{
        padding-left: 10px;
    }
       #left_box ul a{
          text-decoration: none;
          color: black;
      }

    #left_box li{
        margin-left: 10px;
        margin-bottom: 5px;
    }

#main {
    /*border: 1px solid red;*/
    width: 750px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}
   #main_top #sort{
      margin-left: 550px;
      display: inline-block;
      margin-right: 5px;
   }
   #main_top form{
      display: inline-block;;
      vertical-align: top;
   }

    #main_top h2 {
        display: inline-block;
        margin: 0px 0px 0px 35px;
        width: 580px;
        vertical-align: top;
    }
    #main_top #pagination1 {
        display: inline-block;
        width: 110px;
        vertical-align: top;
    }
    #main_top ul {
        display: inline-block;
        vertical-align: top;
        padding: 0px;
        margin: 0px 0px 0px 350px;
    }

    #main_top li {
        display: inline;
        vertical-align: top;
        margin: 0px;
    }

    #main_top form {
        display: inline-block;
        margin: 0px 0px 0px 0px;
    }
    ul#main_thumbnails{
      padding-left: 10px;
   }
    #main_thumbnails li {
        border: 1px solid black;
        display: inline-block;
        width: 130px;
        height: 130px;
        margin-bottom: 40px;
        margin: 3px;
    }
     p.title{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        display: block;
        height: 30px;
        width: 130px;
        text-decoration: none;
        color: black;
        overflow: hidden;
    }
    img#images{
      width: 130px;
      height: 130px;
   }

    #main_pageselect li {
        display: inline;
        text-align: center;
    }
    #records{
      width: 770px;
      height: 530px;
   }
