<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <title>All Products</title>
        <!-- <link rel="stylesheet" href="./../css/front_allproducts.css" media="screen" title="no title"> -->
        <link rel="stylesheet" href="{% static '/dope_vinyl/css/front_allproducts.css' %}" media="screen" title="no title">
    </head>
    <body>
        <div id="nav_bar">
            <h3>Dope Vinyl</h3>
            <a href="#">Shopping Cart (5)</a>
        </div>
        <div id="left_box">
            <form class="" action="front_allproducts" name="search_title" method="POST">
                {% csrf_token %}
                <input type="text" name="search_title" placeholder="product_name">
                <input type="submit" value="&#x1f50e;">
            </form>
            <h4>Categories</h4>
            <ul>
               {% for genre in genres %}
               <li><a href="front_allproducts/category/{{genre.id}}">{{genre.genre_type}}</a></li>
               {% endfor %}
               <li><a href="/front_allproducts">Show All</a>
            </ul>
        </div>
        <div id="main">
            <div id="main_top">
                <h2>{{genres.genre}} Page {{products.number}}</h2>
                <div id="pagination1">
                  <span class="step-links">
                     {% if products.has_previous %}
                     <a href="?page={{products.previous_page_number}}">prev</a>
                     {% else %}
                     <span>prev</span>
                     {% endif %}
                     <span class="current">
                     | {{products.number}} |
                     </span>
                     {% if products.has_next %}
                     <a href="?page={{products.next_page_number}}">next</a>
                     {% else %}
                     <span>next</span>
                     {% endif %}
                  </span>
               </div>
                <span id="sort">Sorted by </span><form name="sort" method="POST">
                   {% csrf_token %}
                        <select name="sort" onchange="form.submit()">
                           <option value="title" {% if sort_current == 'title' %}selected{% endif %}>Title</option>
                           <option value="artist" {% if sort_current == 'artist' %}selected{% endif %}>Artist Name</option>
                           <option value="price" {% if sort_current == 'price' %}selected{% endif %}>Price</option>
                           <option value="popularity" {% if sort_current == 'popularity' %}selected{% endif %}>Most Popular</option>
                        </select>
                </form>
            </div>
            <div id="records">
               <ul id="main_thumbnails">
                  {% for product in products %}
                  <a href="/front_productpage/show/{{product.id}}"><li><img id="images" src="/static/dope_vinyl/imgs/uploaded_media/{{product.image}}"><p class="title">{{product.artist.name}} - {{product.title}}</p></li></a>
                  {% endfor %}
               </ul>
            </div>
            <div class="pagination2">
               <span class="step-links">
                  {% if products.has_previous %}
                  <a href="?page={{products.previous_page_number}}">previous</a>
                  {% endif %}
                  <span class="current">
                  Page {{products.number}} of {{products.paginator.num_pages}}
                  </span>
                  {% if products.has_next %}
                  <a href="?page={{products.next_page_number}}">next</a>
                  {% endif %}
               </span>
            </div>
        </div>
    </body>
</html>
