<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <title>All Products</title>
        <!-- <link rel="stylesheet" href="./../css/front_shoppingcart.css" media="screen" title="no title"> -->
        <link rel="stylesheet" href="{% static '/dope_vinyl/css/front_shoppingcart.css' %}" media="screen" title="no title">
        <script type="text/javascript" src ='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
          Stripe.setPublishableKey('pk_test_oM6TfazDfjAN0q5LsbbdsQ0L');
        </script>
        <script>
          $(document).ready(function(){
            $("input[type=checkbox]").change(function(){
              console.log('change');
              if (this.checked) {
                console.log('checked');
                $("[name='bill_first_name']").val($("[name='ship_first_name']").val());
                $("[name='bill_last_name']").val($("[name='ship_last_name']").val());
                $("[name='bill_address']").val($("[name='ship_address']").val());
                $("[name='bill_address2']").val($("[name='ship_address2']").val());
                $("[name='bill_city']").val($("[name='ship_city']").val());
                $("[name='bill_state']").val($("[name='ship_state']").val());
                $("[name='bill_zip']").val($("[name='ship_zip']").val());
              }
              });
          });

          Stripe.setPublishableKey('pk_test_oM6TfazDfjAN0q5LsbbdsQ0L');
           function stripeResponseHandler(status, response) {
               if (response.error) {
                   // re-enable the submit button
                   $('.submit-button').removeAttr("disabled");
                   // show the errors on the form
                   $(".payment-errors").html(response.error.message);
               } else {
                   var form$ = $("#payment-form");
                   // token contains id, last4, and card type
                   var token = response['id'];
                   // insert the token into the form so it gets submitted to the server
                   form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                   // and submit
                   form$.get(0).submit();
               }
           }
           $(document).ready(function() {
               $("#payment-form").submit(function(event) {
                   // disable the submit button to prevent repeated clicks
                   $('.submit-button').attr("disabled", "disabled");
                   var chargeAmount = 1000; //amount you want to charge, in cents. 1000 = $10.00, 2000 = $20.00 ...
                   // createToken returns immediately - the supplied callback submits the form if there are no errors
                   Stripe.createToken({
                       number: $('.card-number').val(),
                       cvc: $('.card-cvc').val(),
                       exp_month: $('.card-expiry-month').val(),
                       exp_year: $('.card-expiry-year').val()
                   }, chargeAmount, stripeResponseHandler);
                   return false; // submit from callback
               });
           });
           if (window.location.protocol === 'file:') {
               alert("stripe.js does not work when included in pages served over file:// URLs. Try serving this page over a webserver. Contact support@stripe.com if you need assistance.");
           }
       </script>
    </head>
    <body>
        <div id="nav_bar">
            <h3>Dope Vinyl</h3>
            <a href="/carts">Shopping Cart ( {{length}} )</a>
        </div>
        <div id="order_list">
            <table>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
              {% for key,value,price in cart_list %}
              <tr>
                <td>{{key.title}}</td>
                <td>${{key.price}}</td>
                <td>{{value}} ___<a href="#">update</a> <a href="#">delete</a></td>
                <td>${{price}}</td>
              </tr>
              {% endfor %}
            </table>
            <h5>Total: ${{total}}</h5>
            <a id="continue_shopping_button" href="/front_allproducts">Continue Shopping</a>
        </div>

        <h4>Shipping Information</h4>
        <form class="" action="/billing_shipping" method="POST">
          {% csrf_token %}
            <label>First Name: <input type="text" name="ship_first_name"></label>
            <label>Last Name: <input type="text" name="ship_last_name"></label>
            <label>Address: <input type="text" name="ship_address"></label>
            <label>Address 2: <input type="text" name="ship_address2"></label>
            <label>City: <input type="text" name="ship_city"></label>
            <label>State: <input type="text" name="ship_state"></label>
            <label>Zipcode: <input type="text" name="ship_zip"></label>
          </form>
        <form action="">
          {% csrf_token %}
        <h4>Billing Information</h4>
        <label><input type="checkbox" name="same_as_shipping"> Same as Shipping</label>
        </form>
            <form class="" action="/billing_shipping" method="POST">
              {% csrf_token %}
            <label>First Name: <input type="text" name="bill_first_name"></label>
            <label>Last Name: <input type="text" name="bill_last_name"></label>
            <label>Address: <input type="text" name="bill_address"></label>
            <label>Address 2: <input type="text" name="bill_address2"></label>
            <label>City: <input type="text" name="bill_city"></label>
            <label>State: <input type="text" name="bill_state"></label>
            <label>Zipcode: <input type="text" name="bill_zip"></label>
            <br>
            <label>Card: <input type="text" name="card" value=""></label>
            <label>Security Code: <input type="text" name="securitycode" value=""></label>
            <label>Expiration: <input type="text" name="exp_month" value="(mm)"> / <input type="text" name="exp_year" value="(year)"></label>
            <form action="/billing_shipping" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_oM6TfazDfjAN0q5LsbbdsQ0L"
              data-amount="999"
              data-name="Dope Vinyl"
              data-description="Purchasing a Record"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
        </form>
    </body>
</html>
